# Скопируй в .env и заполни. .env в gitignore.

# API-key выдаётся через POST /v1/me/api-keys (после регистрации аккаунта)
ALFAMP_API_KEY=alfa_pk_xxxxxxxxxxxxxxxxxxxxxxxx

# Master-server URL (по умолчанию наш prod)
MASTER_URL=http://104.194.140.221

# Что показывать в каталоге
SERVER_NAME=Alfa Official Test
SERVER_SLOTS=32
SERVER_REGION=GB
SERVER_TAGS=official,test
# IP:port — то, как клиенты будут коннектиться. В нашем случае публичный IP VPS:
SERVER_ENDPOINT=104.194.140.221:30120

# FXServer license key (бесплатный, регистрация на https://keymaster.fivem.net)
LICENSE_KEY=cfxk_xxxxxxxxxxxxxxxx

# RCON пароль (для удалённого управления сервером). 32+ символов, рандом.
RCON_PASSWORD=замени_меня_на_рандомный_32_символов_строку
